---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <article class="prose dark:prose-invert max-w-full">
    {post.data.thumbnail && (
      <img
        src={post.data.thumbnail}
        alt={post.data.title}
        class="w-full"
      />
    )}
    <h1>{post.data.title}</h1>
    <div class="text-sm text-gray-500 dark:text-gray-400">{post.data.date.toDateString()}</div>
    <Content />
  </article>
</Layout>
